$main_padding_y: 8px;
$main_padding_x: 10px;
$main_list_item_height: 34px;

.list {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.container {
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	position: relative;
	cursor: default;
	height: 100vh;
	overflow-y: auto;
	min-width: 240px;
	padding: 10px 24px 10px 10px;
	background-color: var(--primary50);
	font-size: 14px;
	color: var(--accent);
	gap: 20px;
	transition: width 100ms ease-in;

	// &:after {
	// 	cursor: e-resize;
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	content: "";
	// 	width: 8px;
	// 	height: 100%;
	// 	background-color: var(--secondary50);
	// 	transition: background-color 100ms ease-in;

	// 	&:hover,
	// 	&:active,
	// 	&:focus {
	// 		background-color: var(--accent);
	// 	}
	// }

	.pagesBlock {
		gap: 20px;

		.title {
			margin: 0 $main_padding_x;
		}
	}

	.button {
		cursor: pointer;
		border: none;
		outline: none;
		color: white;
		background-color: var(--accent);
		padding: $main_padding_y $main_padding_x;
		margin: 0 $main_padding_x;
		border-radius: var(--main_border_radius);
	}

	.list {
		&.pages {
			gap: 4px;
			&:not(.firstItem) {
				margin-block-start: 5px;
				margin-block-end: 5px;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				padding-inline-start: 10px;
			}
		}

		.item {
			cursor: pointer;
			padding: $main_padding_y $main_padding_x;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			color: var(--accent);
			background: transparent;
			transition: background-color 100ms ease-in;
			border-radius: var(--main_border_radius);

			&:active,
			&:hover,
			&:focus,
			&.selected {
				background-color: var(--secondary);
			}

			.rightArrow__wrapper {
				position: relative;
				z-index: 1;
				width: 18px;
				height: 18px;
				padding: 4px;
				transition: background-color 100ms ease-in;
				border-radius: var(--main_border_radius);

				&:active,
				&:hover,
				&:focus {
					background-color: var(--accent50);
				}

				.rightArrow {
					position: absolute;
					display: block;
					width: 8px;
					height: 8px;
					border-right: 2px var(--accent) solid;
					border-bottom: 2px var(--accent) solid;
					transform: rotate(-45deg);
					transition: transform 100ms ease-in;
					&.opened {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
