.button {
	position: relative;
	min-height: 40px;
	// padding: 5px 14px 5px 14px;
	padding: 7px 18px 11px 18px;
	// margin: 2px 4px 6px 4px;
	font-size: 14px;
	font-weight: 600;
	background-color: var(--primary);
	color: var(--accent);
	cursor: pointer;
	text-transform: uppercase;
	transform: perspective(100px) rotateX(10deg);
	transform-origin: bottom;
	border: none;
	transition: all 175ms, height 100ms;

	.button__border {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-color: var(--accent);
		border-style: solid;
		border-width: 2px 4px 6px 4px;
		transition: all 175ms, height 100ms;
	}

	&:disabled {
		cursor: default;
		opacity: 0.5;
	}

	&:not(:disabled) {
		&:hover {
			background-color: var(--accent);
			color: var(--primary);

			.button__border {
				border-color: rgba(var(--primary), 0.3);
			}
		}

		&:active {
			transform: scale(1, 0.96) perspective(100px) rotateX(10deg);
			transform-origin: bottom;
			background-color: rgba(var(--accent), 0.85);
			color: var(--primary);

			.button__border {
				border-color: rgba(var(--primary), 0.2);
				border-width: 1px 3px 5px 3px;
			}
		}
	}
}
