@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Noto Sans Mono", monospace;
}

ul,
ol {
	/* Помещаем маркеры внутрь блока */
	list-style-position: inside;
}

.d-none {
	display: none !important;
}
.w100 {
	width: 100%;
}
.h100 {
	height: 100%;
}
.w50 {
	width: 50%;
}
.h50 {
	height: 50%;
}
